.topbox{
    height: 80px;
    width: 100%;
    border: solid;
    margin-bottom: 5px;
    background-color: greenyellow;
    margin-bottom: 20px;
}
.container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.box{
    height: 160px;
}

.box:nth-child(1){
    width: 160px;
    justify-content: space-between;
    margin-right: 20px;
}

.box:nth-child(2){
    width: 800px;
}
.oren{
    background-color: rgb(45, 222, 163);
}
.biru{
    background-color: aqua;
}



